<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>PORTFOLIO</title>
</head>
<body>
  <div id="home">
    <a href="/home"><img style="width: 40px; height: 40px;" src="http://www.freeiconspng.com/uploads/house-icon-png-white-32.png" alt=""></a>
  </div>
  <h1 style="text-align: center">PORT<span id="folio">FOLIO</span></h1>
  <div id="portContainer">
    <div id="jukebox">
      <h2 style="text-align: center">JUKEBOX</h2>
      <a href="https://github.com/andrewkwak/JukeBox"><img id="jukeImg" style="width: 300px; height: 300px" src="http://imb.ulximg.com/image/500x500crop/cover/1432910983_29561a75dcabeaef7c786aaf150d2fd1.jpg/1d62122e7b92d9499693f5cca88bd82a/1432910983_a9a94af535dd8a89676e71db66feda0a.jpg" alt=""></a>
      <p>Jukebox application I created using HTML, CSS, JavaScript.  Free mixtape that I found online of Donnie Trumpet, SURF.  I designed the JukeBox as if I were creating the application for the artist himself.</p>
    </div>
    <div id="youtube">
      <h2 style="text-align: center">YouTube with React</h2>
      <a href="https://github.com/andrewkwak/youtube-react"><img id="jukeImg" style="width: 300px; height: 300px" src="https://image.freepik.com/free-icon/youtube-symbol_318-64721.jpg" alt=""></a>
      <p>"YouTube" Application that I created using React. Not completed yet.</p>
    </div>
  </div>
</body>
</html>
